version: '3.7'

services:
  nextjs-app:
    # سيقوم ببناء صورتك باستخدام Dockerfile
    build: .
    restart: always

  nginx:
    image: nginx:stable-alpine
    restart: always
    ports:
      # Nginx يستمع للمنفذ 80 (HTTP) فقط
      - "80:80"
      # تم حذف المنفذ 443
    volumes:
      # ربط ملف الإعداد الخاص بـ Nginx
      - ./nginx:/etc/nginx/conf.d:ro
      # تم حذف ربط certs و wroot
    
    depends_on:
      - nextjs-app

# تم حذف قسم volumes بالكامل (certs و wroot)