version: '3.7'
services:
  nextjs-app:
    # يخبر Docker Compose أن يقوم بالبناء باستخدام الـ Dockerfile الموجود في نفس المجلد (.).
    build: .
    
    # يربط المنفذ 80 على الخادم (HTTP) بالمنفذ 3000 داخل الحاوية.
    # تذكر: تطبيق Next.js يعمل على المنفذ 3000 كما هو محدد في Dockerfile.
    ports:
      - "80:3000"
    
    # يضمن إعادة تشغيل الحاوية في حالة فشلها
    restart: always