version: '3.7'

services:
  nextjs-app:
    build: .
    restart: always

  nginx:
    image: nginx:stable-alpine
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      # ربط ملف الإعداد الخاص بـ Nginx
      - ./nginx:/etc/nginx/conf.d:ro
      # ربط مجلد شهادات SSL
      - certs:/etc/letsencrypt
      # *تصحيح wroot*: ربط وحدة تخزين wroot بمجلد Certbot/Webroot داخل Nginx
      - wroot:/var/www/certbot
    
    depends_on:
      - nextjs-app

  certbot:
    image: certbot/certbot
    volumes:
      # *تصحيح wroot*: ربط مجلد الشهادات
      - certs:/etc/letsencrypt
      # *تصحيح wroot*: ربط مجلد Webroot الذي سيستخدمه Certbot للتحقق
      - wroot:/var/www/html
    
    # أمر التشغيل (يحصل على الشهادة ويجددها كل 6 ساعات)
    entrypoint: /bin/sh -c 'trap exit TERM; while :; do sleep 6h & wait $${!}; certbot renew --webroot -w /var/www/html --quiet; done'

volumes:
  certs: {}
  wroot: {}