version: '3.7'

services:
  nextjs-app:
    # سيقوم ببناء صورتك باستخدام Dockerfile
    build: .
    # *مهم*: لا يوجد تعيين للمنفذ (ports) هنا؛ التطبيق داخلي فقط.
    restart: always

  nginx:
    image: nginx:stable-alpine
    restart: always
    ports:
      # Nginx سيستمع للمنفذ 80 و 443 على الخادم (VPS)
      - "80:80"
      - "443:443"
    volumes:
      # ربط مجلد الإعداد الذي سننشئه في الخطوة التالية
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
      # مجلدات لحفظ شهادات SSL الخاصة بك (إذا كنت تستخدم certbot)
      - certs:/etc/nginx/certs
    
# تعريف وحدات التخزين
volumes:
  certs: {}